* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  

}
body{
  font-family: 'Commissioner', sans-serif;
  background: white;
  place-items: center;
  


}

.title {
  font-size: 1rem;
  letter-spacing: 5px;
  margin: 3rem;
  color: gray;
  text-align: center;
}
.btn{
  text-decoration: none;
}
.btn > button{
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 50px;
  width: 3rem;
  border: 1px solid black;
  cursor:pointer;
  margin: auto;
  display:flex;
  
}
.btn>button:hover{
  background: yellow;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7rem;
}

.paginationItem {
  background: #fff;
  border: 2px solid #666;
  padding: 10px 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  background: #fff;
  border: none;
  padding: 10px;
  color: blue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}

